[submodule "packer"]
	path = packer
	url = git@gitlab.gov.pf:infrastructure/packer.git
[submodule "documentation"]
	path = documentation
	url = git@gitlab.gov.pf:infrastructure/os-docs.git
[submodule "site-cookbooks/openstack-database"]
	path = site-cookbooks/openstack-database
	url = git@gitlab.gov.pf:infrastructure/chef-openstack-database.git
