[submodule "packer"]
	path = packer
	url = git@gitlab.gov.pf:infrastructure/packer.git
[submodule "site-cookbooks/openstack-database"]
	path = site-cookbooks/openstack-database
	url = git@gitlab.gov.pf:infrastructure/chef-openstack-database.git
[submodule "site-cookbooks/openstack-loadbalancer"]
	path = site-cookbooks/openstack-loadbalancer
	url = git@gitlab.gov.pf:infrastructure/chef-openstack-loadbalancer.git
[submodule "documentation"]
	path = documentation
	url = git@gitlab.os.gov.pf:sitle/os-documentation.git
